<!DOCTYPE html>

<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/framework.css">
  <link rel="stylesheet" type="text/css" href="css/washington.css">
  <script src="js/webfont.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/logoStandford32.ico">
  <link rel="apple-touch-icon" href="images/logoStandford32.ico">

  <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="notificationController" ng-init="getNotification();">
  <section class="w-section mobile-wrapper">

    <div class="page-content" id="main-stack">
      <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400"  data-easing="ease-out-quint" data-no-scroll="1">
        <div class="w-container">
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <div class="navbar-title">Notifications</div>
          <a class="w-inline-block navbar-button" href="home.html">
            <div class="navbar-button-icon icon ion-ios-arrow-thin-left"></div>
          </a>
          <a class="w-inline-block navbar-button right" href="home.html">
            <div class="navbar-button-icon smaller icon ion-ios-home-outline"></div>
          </a>
        </div>
      </div>
      <div class="body">
        <ul class="list list-chats">
          <li data-ng-repeat="noti in notifications" class="w-clearfix list-chat">
            <div class="column-left chat">
              <div class="image-message navbar-button-icon chat icon ion-android-notifications-none"><!-- <img src="images/128 (4).jpg"> -->
              </div>
            </div>
            <div class="w-clearfix column-right chat">
              <div class="arrow-globe"></div>
              <div class="chat-text">{{noti.description}}</div>
              <div class="chat-time">{{noti.created_at | date:'dd-MM-yyy HH:mm:ss Z'}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-content loading-mask" id="new-stack">
      <div class="loading-icon">
        <div class="navbar-button-icon icon ion-load-d"></div>
      </div>
    </div>
   <!--  <div class="shadow-layer"></div> -->
  </section>
   <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  
  <script type="text/javascript" src="js/angularjs.min.js"></script>
  <script type="text/javascript" src="js/angular-swipebox.min.js"></script>
<script type="text/javascript" src="js/ng-cordova.min.js"></script>
  <script type="text/javascript" src="js/angular-websql.min.js"></script>
  <script type="text/javascript" src="js/controller/registration.js"></script>
  
  <script type="text/javascript" src="js/framework.js"></script>
  <!--[if lte IE 9]><script src="js/placeholders.min.js"></script><![endif]-->
   
</body>
</html>