body {
  background-color: black;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  line-height: 36px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: #6b6b6b;
  font-size: 12px;
  line-height: 1.9em;
}
a {
  width: 100%;
  color: #333;
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.navbar {
  position: fixed;
  z-index: 5;
  height: 60px;
  padding-top: 15px;
  background-color: #0C4676;
}
.mobile-wrapper {
  position: relative;
  width: 342px;
  height: 608px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: none;
}
.navbar-button {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 0px;
  color: #fff;
  line-height: 49px;
  text-align: center;
}
.navbar-button.left {
  float: left;
}
.navbar-button.left.w--open {
  background-color: transparent;
}
.navbar-button.right {
  float: right;
}
.navbar-button.right:active {
  color: #333;
}
.navbar-button.right.bigger {
  font-size: 16px;
}
.icon.ion-ios-more.bigger {
  font-size: 21px;
}
.navbar-button-icon {
  width: 45px;
  height: 45px;
  font-size: 40px;
}
.navbar-button-icon.home-icon {
  display: inline-block;
  width: 27px;
  height: auto;
  margin-top: 7px;
  margin-left: 5px;
}
.navbar-button-icon.smaller {
  font-size: 30px;
}
.navbar-title {
  position: absolute;
  display: block;
  width: 100%;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  background-color: #0C4676;
  color: white;
}
.body {
  padding-top: 60px;
}
.hero-slider {
  height: 190px;
}
.hero-slider-2 {
  height: 250px;
}
.hero-slider.bigger {
  height: 300px;
}
.slider-bullets {
  font-size: 8px;
  z-index: 1;
}
.separator-slide {
    height: 1px;
}
.arrow-icon {
  font-size: 20px;
}
.slide {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url('../images/slide1.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide.bg2 {
  background-image: url('../images/slide2.jpg');
}
.slide.bg3 {
  background-image: url('../images/slide3.jpg');
}
.list {
  padding-left: 0px;
  background-color: white;
  list-style-type: none;
}
.list.list-messages {
  border-top: 1px solid #e7e7e9;
}
.list.list-chats {
  padding-top: 24px;
  padding-bottom: 65px;
  border-top: 1px solid #e7e7e9;
}
.list-item {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 60px;
  border-bottom: 1px solid #e7e7e9;
  border-left: 3px solid transparent;
  background-color: white;
}
.list-item-sub {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 40px;
  border-bottom: 1px solid #e7e7e9;
  border-left: 3px solid transparent;
  background-color: white;
}
.list-item:active {
  background-color: #f7f7f7;
}
.list-item.grey {
  border-left: 3px solid transparent;
  background-color: #d2d2d2;
}
.list-item.highlighted {
  border-left: 3px solid #d1c9c9;
}
.icon-list {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: left;
  color: #ddd;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}
.icon-list.highlighted {
  color: #4fd2c2;
}
.title-list {
  display: inline-block;
  float: left;
  font-size: 14px;
  line-height: 40px;
}
.title-list-2 {
  display: inline-block;
  float: left;
  font-size: 20px;
  line-height: 60px;
  padding-inline-start: 18px;
}
.highlighted {
  color: #c2c2c2;
}
.nav-menu {
  position: absolute;
  width: 90%;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #0C4676;
}
.nav-menu-header {
  height: 120px;
  padding-top: 50px;
}
.nav-menu-link {
  display: block;
  height: 50px;
  padding: 0px;
  border-bottom: 2px solid #225077;
  font-size: 13px;
  text-decoration: none;
}
.nav-menu-psybo {
  display: block;
  height: 50px;
  padding: 0px;
  font-size: 9px;
  text-decoration: none;
}
.psybo{
  max-width: 60px;
}
.nav-menu-link:active {
  color: #4fd2c2;
}
.nav-menu-link.last {
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.nav-menu-titles {
  display: inline-block;
  float: left;
  line-height: 48px;
  text-align: left;
  color: white;
}
.icon-list-menu {
  display: inline-block;
  width: 45px;
  height: 50px;
  float: left;
  color: white;
  font-size: 25px;
  line-height: 48px;
  text-align: left;
}
.nav-menu-text-right {
  display: inline-block;
  float: right;
  color: #c2c2c2;
  line-height: 48px;
}
.logo {
  padding-bottom: 8px;
  font-size: 25px;
  text-align: left;
  color: white;
}
.slogan {
  color: #c2c2c2;
  font-size: 11px;
  text-align: left;
  padding-top: 9px;
}
.wrapper-mask {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -15px;
  background-color: black;
  opacity: 0;
}
.hero-image {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 173px;
  background-color: black;
}
.hero-image-img {
  height: 100%;
  opacity: 0.62;
}
.hero-image-title {
  position: absolute;
  left: 50px;
  bottom: 30px;
  z-index: 1;
  color: white;
}
.logo-login {
  height: 211px;
  background-image: url('../images/logo.png');
  background-position: 50% 50%;
  background-size: 100px;
  background-repeat: no-repeat;
}
.logo-login.smaller {
  height: 100px;
  background-size: 95px;
}
.logo-login.bigger {
  height: 304px;
}
.bottom-section {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 5px;
}
.padding {
  padding-right: 28px;
  padding-left: 28px;
  background-color: white;
  opacity: 1;
}
.padding.smaller {
  padding-right: 16px;
  padding-left: 16px;
}
.padding.smaller.search-fixed {
  position: fixed;
  z-index: 3;
  height: 130px;
  -webkit-transform: translate(0px, -69px);
  -ms-transform: translate(0px, -69px);
  transform: translate(0px, -69px);
}
.link-upper {
  display: inline-block;
  color: #bababa;
  font-size: 9px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}
.b-link {
  color: #222;
  font-weight: 700;
}
.b-link:active {
  color: #4fd2c2;
}
.p-link {
  color: #000;
  font-weight: 700;
}
.p-link:active {
  color: #4fd2c2;
}
.action-button {
  display: inline-block;
  width: 100%;
  height: 51px;
  padding: 12px;
  border-radius: 2px;
  background-color: #0C4676;
  color: white;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}
.action-button:active {
  background-color: #455A64;
}
.action-button.grey {
  background-color: #333;
}
.separator-button {
  height: 21px;
}
.label-form {
  margin-bottom: 2px;
  color: #a8a1a1;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 1px;
}
.label-form.middle {
  display: inline-block;
  float: left;
  line-height: 36px;
}
.input-form {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-radius: 0px;
  background-color: transparent;
  color: #222;
  font-size: 14px;
}
.hallticket-form{
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 1px;
}
.input-form:focus {
  border-bottom-color: #3F51B5;
}
.input-form.left {
  width: 100%;
}
.input-form.one-line {
  height: 55px;
  margin-bottom: 3px;
}
.input-form.last {
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.input-form.in-grey {
  height: 42px;
  padding-bottom: 12px;
}
.input-form.in-grey-last {
  margin-bottom: 15px;
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.input-form.search-input {
  height: 38px;
  margin-bottom: 15px;
  padding-right: 35px;
  padding-left: 10px;
  background-color: white;
}
.separator-button-input {
  height: 30px;
}
.separator-fields {
  height: 8px;
}
.right-input-link {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 40%;
  height: 37px;
  background-color: white;
  color: #ccc;
  font-size: 11px;
  line-height: 37px;
  text-align: right;
  text-decoration: none;
}
.right-input-link:active {
  color: #333;
}
.block-input-combined {
  position: relative;
}
.sub-title-small {
  padding-top: 6px;
  color: #333;
  font-size: 11px;
}
.w50 {
  width: 50%;
  float: left;
}
.w50.left {
  padding-right: 20px;
}
.radio-button {
  position: relative;
  display: inline-block;
  margin-left: 31px;
  float: right;
}
.radios-container {
  padding-top: 9px;
  line-height: 21px;
}
.radio-bullet {
  margin-left: -23px;
  opacity: 0;
}
.radio-bullet-replacement {
  position: absolute;
  left: -4px;
  top: 4px;
  width: 13px;
  height: 13px;
  border: 1px solid #c2c2c2;
  border-radius: 15px;
}
.radio-bullet-replacement.checked {
  border-color: #4fd2c2;
  background-color: #4fd2c2;
}
.checkbox-field {
  position: relative;
  float: right;
}
.checkbox-label {
  display: inline-block;
  width: 35px;
  height: 15px;
  min-width: 30px;
  margin-top: 3px;
  border-radius: 15px;
  background-color: #ededed;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
.checkbox-label.checked {
  background-color: #b6e3de;
}
.checkbox-handle {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 20px;
  background-color: #d6d6d6;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
.checkbox-handle.checked {
  background-color: #4fd2c2;
  -webkit-transform: translate(16px, 0px);
  -ms-transform: translate(16px, 0px);
  transform: translate(16px, 0px);
}
.checkbox-input {
  display: none;
}
.background-grey {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 79px;
  margin-top: -16px;
  margin-left: -28px;
  background-color: #f7f7f7;
}
.background-grey.last {
  height: 71px;
}
.background-grey.search {
  height: 69px;
  margin-left: -16px;
}
.row-input-list {
  position: relative;
}
.row-input-list.search {
  margin-top: 0px;
}
.right-input-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 37px;
  height: 37px;
  color: #dbdbdb;
  font-size: 18px;
  line-height: 36px;
  text-align: right;
}
.right-input-icon.color {
  margin-right: 0px;
  color: #4fd2c2;
  text-align: center;
}
.right-input-icon.search {
  margin-right: 0px;
  padding-top: 2px;
  padding-right: 3px;
  text-align: center;
}
.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.page-content.loading-mask {
  position: fixed;
  z-index: 50;
  display: none;
  background-color: white;
  opacity: 0.6;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  text-align: center;
}
.page-content.loading-mask.stop-loading{
  opacity:0;
}
.loading-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  bottom: 50%;
  display: block;
  width: 44px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
}
.text-centered {
  text-align: center;
}
.version-text {
  padding-bottom: 40px;
  color: #a1a1a1;
  font-size: 11px;
}
.separator-bottom {
  height: 15px;
}
.splash-logo {
  height: 305px;
  background-image: url('../images/logo.png');
  background-position: 50% 50%;
  background-size: 188px;
  background-repeat: no-repeat;
}
.separator-big {
  height: 95px;
}
.toolbar-top-button {
  display: block;
  float: left;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 9px;
  border-bottom: 3px solid white;
  background-color: white;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}
.toolbar-top-button.w--current {
  border-bottom-color: #607D8B;
  background-color: white;
}
.tabs-content {
  background-color: whitesmoke;
  clear: both;
}
.group-block {
  width: 50%;
  padding-top: 0px;
  padding-right: 0px;
  float: left;
}
.group-block-home {
  width: 50%;
  padding-top: 3px;
  padding-right: 3px;
  float: left;
}
.group-block.last {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 6px;
}
.group-image {
  height: 120px;
  /* background-image: url('../images/Y51aFguqRcGTgsYRYBXV_20140104_085932.jpg'); */
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .group-image.bg1 {
  background-image: url('../images/3wBPUcDrR9KaduD3PvkY_DSC_0915.jpg');
}
.group-image.bg2 {
  background-image: url('../images/photo-1413977886085-3bbbf9a7cf6e.jpg');
}
.group-image.bg3 {
  background-image: url('../images/photo-1421757295538-9c80958e75b0.jpg');
}
.group-image.bg4 {
  background-image: url('../images/photo-1429032021766-c6a53949594f (1).jpg');
  background-position: 100% 50%;
}
.group-image.bg5 {
  background-image: url('../images/nomad.jpg');
} */
.group-title {
  height: 68px;
  background-color: white;
  text-align: center;
}
.group-title-marque {
  height: 20px;
  background-color: #fff;
  text-align: center;
  padding-top: 2px;
  /* padding-bottom: 3px; */
}
.title-text {
  line-height: 68px;
}
.title-text-mar {
  line-height: 16px;
  color: white;
  background-color: #546E7A;
  align-content: center;
}
.tab-pane {
  padding-right: 10px;

  padding-bottom: 10px;
  padding-left: 10px;
}
.tab-pane-home {
  padding-left: 3px;
}
.list-news {
  display: inline-block;
  padding-left: 0px;
  list-style-type: none;
}
.list-item-new {
  margin-bottom: 25px;
  box-shadow: #e3e3e3 0px 0px 6px 0px;
}
.image-new {
  position: relative;
  height: 200px;
  background-image: url('../images/slide1.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-new.bg1 {
  background-image: url('../images/slide1.jpg');
}
.image-new.bg2 {
  background-image: url('../images/slide1.jpg');
}
.text-new {
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: white;
}
.text-new.no-borders {
  border-style: none;
  border-width: 0px;
}
.title-new {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
.description-new {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 11px;
}
.title-reg {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  text-align: center;
  color: #388E3C;
}
.description-reg{
  font-size: 12px;
  border-radius: 10px;
  background-color: #B0BEC5;
  color: black;
}
.news-container {
  position: relative;
  display: inline-block;
  margin-top: 77px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
}
.singlenews-container {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
}
.news-container.item-new {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.category-link {
  display: inline-block;
  width: auto;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: #ededed;
  color: #878787;
  font-size: 8px;
  text-decoration: none;
}
.news-mask {
  position: fixed;
  z-index: 2;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  opacity: 0;
}
.options-new {
  padding: 18px 20px 16px;
  background-color: #fafafa;
}
.small-button {
  width: auto;
  margin-right: 12px;
  padding: 7px 16px;
  border-radius: 2px;
  background-color: #4fd2c2;
  color: white;
  font-size: 10px;
  text-decoration: none;
}
.small-button.icon-only {
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
}
.small-button.icon-only.grey {
  background-color: #e8e8e8;
  color: #878787;
}
.small-button.icon-only.grey.right {
  margin-right: 0px;
  margin-left: 16px;
  float: right;
}
.small-button.grey {
  background-color: #e8e8e8;
  color: #878787;
}
.icon-button {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 20px;
  height: 15px;
  padding-bottom: 20px;
  float: left;
  font-size: 13px;
}
.icon-button.bigger {
  font-size: 20px;
}
.text-button {
  display: inline-block;
  padding-top: 1px;
  float: left;
  line-height: 19px;
}
.grey-header {
  padding: 10px 20px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background-color: #d2d2d2;
}
.grey-heading-title {
  font-size: 16px;
}
.square-map {
  height: 300px;
}
.hero-map {
  height: 280px;
}
.image-message {
  position: relative;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 48px;
  height: 48px;
  margin-top: 5px;
  border-radius: 25px;
}
.column-left {
  position: relative;
  display: block;
  width: 77px;
  height: 62px;
  float: left;
  text-align: center;
}
.message-title {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 14px;
}
.list-message {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e9;
}
.list-message:active {
  background-color: #f7f7f7;
}
.column-right {
  padding-right: 20px;
}
.column-right.chat {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 50px;
}
.column-right.chat.right {
  position: relative;
  margin-right: 10px;
  margin-left: 100px;
  padding-left: 20px;
}
.message-text {
  padding-bottom: 3px;
  color: #a3a3a3;
  font-size: 11px;
  line-height: 1.6em;
  text-decoration: none;
}
.mymessage-text {
  padding-bottom: 3px;
  color: #a3a3a3;
  font-size: 11px;
  line-height: 1.6em;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 30px;
}
.list-chat {
  margin-bottom: 8px;
}
.chat-text {
  display: inline-block;
  margin-top: 7px;
  padding: 12px 15px;
  float: left;
  border-radius: 0px 12px 12px;
  background-color: #B0BEC5;
  color: #333;
  font-size: 12px;
  line-height: 17px;
}
.chat-text.right {
  float: right;
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  background-color: #4fd2c2;
  color: white;
}
.arrow-globe {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 7px;
  margin-left: -12px;
  border-right: 12px solid #B0BEC5;
  border-bottom: 6px solid transparent;
}
.arrow-globe.right {
  top: 0px;
  right: 9px;
  border-right: 0px none transparent;
  border-left: 12px solid #4fd2c2;
}
.chat-time {
  display: block;
  padding-left: 12px;
  float: left;
  clear: left;
  color: #37474F;
  font-size: 9px;
  line-height: 19px;
}
.chat-time.right {
  padding-right: 15px;
  float: right;
  clear: both;
}
.input-chat-block {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid #ebebeb;
  background-color: #f2f2f2;
}
.input-chat {
  width: 82%;
  height: 39px;
  float: left;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: black black #e3e3e3;
  border-radius: 0px;
  font-size: 11px;
}
.input-chat:focus {
  border-bottom-color: #4fd2c2;
}
.chat-button {
  width: 18%;
  padding: 9px 0px 9px 7px;
  float: right;
  background-color: transparent;
  color: #4fd2c2;
  font-size: 12px;
}
.slider-element-test {
  padding-top: 72px;
  color: black;
  font-size: 27px;
  line-height: 1.6em;
  text-align: center;
}
.social-block {
  display: inline-block;
  float: left;
}
.bar-home-icon {
  width: 100%;
  height: 2px;
  margin-bottom: 7px;
  background-color: white;
}
.shadow-layer {
  position: fixed;
  z-index: 0;
  display: inline-block;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 15px -2px;
}
html.w-mod-js *[data-ix="menu-mask"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="list-item"] {
  opacity: 0;
  -webkit-transform: translate(-26px, 0px);
  -ms-transform: translate(-26px, 0px);
  transform: translate(-26px, 0px);
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  .mobile-wrapper {
    width: 100%;
  }
}

.navbar{
    width:inherit;
}
.radio-bullet-replacement, .checkbox-handle, .loading-mask, .shadow-layer{
    pointer-events:none;
}
input[type=text], textarea {
    outline: none;
}
input[type=text]:focus, textarea:focus {
    outline: none;
}
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:not(input):not(textarea){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.loading-icon {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.loading-mask{
    display:block !important;
}
.navbar, .page-content, .news-mask, .search-fixed, .input-chat-block, .loading-mask, .shadow-layer{
    width:inherit;
}
.nav-menu{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.error {
  color:red;
}
.error-border {
  border: solid 2px red;
}

/* Home menu stye start */

.men{
  font-weight: 100;
  font-size: 20pt;
  line-height: 1.3em;
  margin: 15px 0;
  text-align: center;
}

div.message {
  position: relative;
  padding: 10px;
  padding-left: 35px;
  margin: 30px 10px;
  box-shadow:0 7px 8px rgb(0,0,0);
  background: #BBB;
  color: #FFF;
  
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
div.message:hover{
  box-shadow: 0 15px 20px rgba(10,0,10,.3);
  -webkit-filter: brightness(110%);
}

div.message:before{
  content: '';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  top: -21px;
  left: 50%;
  margin:0 -21px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  padding:10px;
  background: inherit;
  box-shadow:0 7px 10px rgb(0,0,0);
  color: rgba(255,255,255,.75);
  border-radius:50%;
  border: 2px solid transparent;
  z-index: 2;
}

/* div.message.information:before{content:'\f031';}
div.message.view:before{content:'\f06e';}
div.message.announcement:before{content:'\f019';}
div.message.success:before{content:'\f1c1';}
div.message.warning:before{content:'\f084';}
div.message.error:before{content:'\f1ea';} */

/*Z Index*/
/* div.message.information{background: #15B; z-index: 1;}
div.message.view{background: #39B; z-index: 1;}
div.message.warning{background: #E74; z-index: 1;}
div.message.success{background: #5A6; z-index: 1;}
div.message.announcement{background: #EA0; z-index: 1;}
div.message.error{background: #C43; z-index: 1;}  */

div.message.information:before{background: #90A4AE; color: white; content:'\f031';}
div.message.view:before{background: #78909C; color: white; content:'\f06e';}
div.message.success:before{background: #607D8B; color: white; content:'\f1c1';}
div.message.warning:before{background: #546E7A; color: white; content:'\f084';}
div.message.error:before{background: #455A64; color: white; content:'\f1ea';}


div.message.information{background: #78909C; z-index: 1;}
div.message.view{background: #607D8B; z-index: 1;}
div.message.success{background: #546E7A; z-index: 1;}
div.message.warning{background: #455A64; z-index: 1;}
div.message.error{background: #37474F; z-index: 1;} 

/* registe text start */
.reginput[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 4px);
  margin: 0 0 1em;
  padding: 1em;
  border: 0px solid #ccc;
  /* border-radius: 0.5em; */
  background: #fff;
  resize: none;
  outline: none;
  border-bottom-width: 1px;

}
.reginput[type="text"][required]:focus {
  border-color: #00bafa;
}
.reginput[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
.reginput[type="text"][required]:focus + label[placeholder]:before,
.reginput[type="text"][required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
              transition-duration: .2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
              transform: translate(0, -1.5em) scale(0.9, 0.9);
}
.reginput[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
.reginput[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 4px);
  margin-bottom: calc((3em - 1em) + 9px);
}
.reginput[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.reginput.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
/* registe text end */

/* vedio vie start */


/* .video-wrapper {
  position: relative;
  width: 342px;
  height: 608px;
  margin-right: auto;
  margin-left: auto;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: none;
}
.video-padding {
  padding-right: 28px;
  padding-left: 28px;
  opacity: 1;
}
.video-navbar {
  position: fixed;
  z-index: 5;
  height: 60px;
  padding-top: 15px;
  background-color: white;
} */

/* vedio view end */

.result-button {
  display: inline-block;
  width: 60%;
  height: 41px;
  padding: 8px;
  border-radius: 2px;
  background-color: #0C4676;
  color: white;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}
.result-button:active {
  background-color: #455A64;
}
.error-msg {
  margin: 12px 0;
  padding: 15px;
  border-radius: 20px 0px 20px 0px;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  text-align: center;
}
.success-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.success-msg {
  color: #000;
  /* background-color: #E15219; */
  background-color: #E2F2C9;
}
.top {
  background-color:#EAE9E4;
  height:57px;
  width: 87%;
  /* padding-left: 38px; */
  text-align: center;
}

/* result style strat */
.circle {
  width:60px;
  height:60px;
  border-radius:60px;
  font-size:18px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:#989A8F;
  margin-right:67px;
  margin-top:-7px;
  margin-left: 41px;
}
.chechanother{
  padding-left: 167px;
}
/* result style end */

/* status table style strat */

.ui.table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid #928888;
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0,0,0,.87);
  border-collapse: separate;
  border-spacing: 0
}

.ui.table:first-child {
  margin-top: 0
}

.ui.table:last-child {
  margin-bottom: 0
}

.ui.table td,.ui.table th {
  -webkit-transition: background .1s ease,color .1s ease;
  transition: background .1s ease,color .1s ease
}

.ui.table thead {
  box-shadow: none
}

.ui.table thead th {
  cursor: auto;
  background: #dbe3ea;
  text-align: inherit;
  color: rgba(0,0,0,.87);
  padding: .92857143em .71428571em;
  vertical-align: inherit;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid rgba(34,36,38,.1);
  border-left: none
}

.ui.table thead tr>th:first-child {
  border-left: none
}

.ui.table thead tr:first-child>th:first-child {
  border-radius: .28571429rem 0 0
}

.ui.table thead tr:first-child>th:last-child {
  border-radius: 0 .28571429rem 0 0
}

.ui.table thead tr:first-child>th:only-child {
  border-radius: .28571429rem .28571429rem 0 0
}

.ui.table tfoot {
  box-shadow: none
}

.ui.table tfoot th {
  cursor: auto;
  border-top: 1px solid rgba(34,36,38,.15);
  background: #f9fafb;
  text-align: inherit;
  color: rgba(0,0,0,.87);
  padding: .71428571em;
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  text-transform: none
}

.ui.table tfoot tr>th:first-child {
  border-left: none
}

.ui.table tfoot tr:first-child>th:first-child {
  border-radius: 0 0 0 .28571429rem
}

.ui.table tfoot tr:first-child>th:last-child {
  border-radius: 0 0 .28571429rem
}

.ui.table tfoot tr:first-child>th:only-child {
  border-radius: 0 0 .28571429rem .28571429rem
}

.ui.table tr td {
  border-top: 1px solid rgba(34,36,38,.1)
}

.ui.table tr:first-child td {
  border-top: none
}

.ui.table td {
  padding: .71428571em;
  text-align: inherit
}

/* status table style strat */

.lognavbar{
  position: fixed;
  z-index: 5;
  height: 60px;
  padding-top: 15px;
  background-color: #fff;
}

/* select box style start */

/* drop down style start */

.styled-select-date {
   /* background: url('../images/down.png') no-repeat 96% 0; */
   height: 29px;
   overflow: hidden;
   width: 20%;
}
.styled-select-month {
   /* background: url('../images/down.png') no-repeat 96% 0; */
   height: 29px;
   overflow: hidden;
   width: 35%;
}
.styled-select-year {
   /* background: url('../images/down.png') no-repeat 96% 0; */
   height: 29px;
   overflow: hidden;
   width: 30%;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 3px;
   border: 0px;
   background-color: white;
   margin-left: 10px;
}
/* drop down style end */



.section {
  background-color: #ECEFF1;
  height: 100%;
  border-radius: 10px;
}
.loader {
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align:middle;
}
.section-p {
    vertical-align:middle;
    color:#000;
    position:relative;
    display:inline-block;
    -webkit-animation: text 2s linear infinite;
    animation: text 2s linear infinite;
    padding-left: 20px;
    font-size: 14px;
}
.loader-double {
    border-radius:50px;
    border:3px solid transparent;
    border-top-color:#000;
    border-bottom-color:#000;
    -webkit-animation: spin 2s linear infinite;
   spin 3s cubic-bezier(.86,0,.07,1) infinite;
}
.loader-double:before, .loader-double:after {
    content:'';
    position:absolute;
    top:5px;
    left:5px;
    bottom:5px;
    right:5px;
    border-radius:50px;
    border:6px solid transparent;
    border-top-color:#263238;
    border-bottom-color:#263238;
    filter: alpha(opacity=6);
    -khtml-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -webkit-animation: spinreverse 1s linear infinite;
    animation: spinreverse 1s linear infinite;
    -webkit-transition: -webkit-transform 1s ease-in-out;
}
.loader-double:before {
    top:15px;
    left:15px;
    bottom:15px;
    right:15px;
    border-width:1px;
     -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.reject-app{
  color: red;
}

.approve-app{
  color:green;
}

