<!DOCTYPE html>

<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/framework.css">
  <link rel="stylesheet" type="text/css" href="css/washington.css">
  <script src="js/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/logoStandford32.ico">
  <link rel="apple-touch-icon" href="images/logoStandford32.ico">

  <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="loginController" ng-init="checkLogin();">
  <section  class="w-section mobile-wrapper">

    <div class="page-content" id="main-stack" data-scroll="0">
      <div class="w-nav lognavbar"></div>
      <div class="body padding">
        <div class="logo-login"></div>
        <div class="bottom-section padding">
          <div class="w-form">
            <form id="submit-form" name="email-form" ng-submit="getLogin();"  data-name="Email Form" data-redirect="" action="javascript:void(0);">
              <div>
                <label class="label-form" for="email-field">NAME</label>
                <input class="w-input input-form" ng-model="name" id="email-field" type="text" name="email" data-name="email" required="required">
                <div class="separator-fields"></div>
              </div>
              <div>
                <label class="label-form" for="email-field">PASSWORD</label>
                <input class="w-input input-form" ng-model="phone" id="password-field" type="text" name="phone" data-name="password" required="required">
                <div class="separator-fields"></div>
              </div>

              <!-- <div>
                <input class="reginput" ng-model="name" id="email-field" type="text" name="email" data-name="email" required="required">
                <label for="name" placeholder='Name' alt="Name"></label>
                <div class="separator-fields"></div>
              </div> -->
              <!-- <div>
                <input class="reginput" ng-model="phone" id="password-field" type="text" name="phone" data-name="password" required="required">
                <label for="phone" placeholder='Phone Number' alt="Phone"></label>
                <div class="w-clearfix block-input-combined"></div>
                <div class="separator-button-input"></div>
              </div> -->
                <div class="separator-button-input"></div>
              <input class="w-button action-button" type="submit" value="Sign Up" data-wait="Please wait...">
              <div class="separator-button"></div>
                <a class="link-upper" href="signup.html" data-load="1">© 2016-2017 scienceinstitute.in. All Rights Reserved.</a>
              <div class="separator-button"></div>
                <a class="link-upper p-link" href="http://psybotechnologies.com/" data-load="1">Powered by &nbsp;<strong class="p-link">Psybo Technologies</strong></a>
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content loading-mask" id="new-stack">
      <div class="loading-icon">
        <div class="navbar-button-icon icon ion-load-d"></div>
      </div>
    </div>
   <!--  <div class="shadow-layer"></div> -->
  </section>
  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/angularjs.min.js"></script>
 <script type="text/javascript" src="js/angular-swipebox.min.js"></script>
  <script type="text/javascript" src="js/angular-websql.min.js"></script>
  <script type="text/javascript" src="js/ng-cordova.min.js"></script>
  <script type="text/javascript" src="js/controller/registration.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/framework.js"></script>
</body>
</html>
